/****** STRUCTURE DU FORUM ----------------------------------------------------------- 
****** Elements du forum qui définissent sa structure et sa hiérachie sur toutes les pages 
****** (ne les RENOMMEZ PAS, ils sont généraux aux pages Web ou à Forumactif) ------- ******/


/*** FONT ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/*** ROOT 
*** Tutoriel pour utiliser les variables
*** https://blankthemerpg.forumactif.com/t139-utiliser-les-variables-css ***/

/* VARIABLE DU MODE DE BASE (ici clair) */
:root {
	color-scheme: light;
	--header: url('https://i.postimg.cc/qBCHHRvY/222.png');

	--color1: #eceac2;
	--color2: #e5f1d7;
	--color3: #cba6de;
	--color4: #e5edcf;
	--color5: #a3a849;
	--color6: #fff;
	--colortitre: #fff;
	--coloracc: #cba6de;
	--colorcontainer: #a3a849;
	--transparent: #ebe4e0;
	--gradient: linear-gradient(to right, var(--color1), var(--color5));
	--shadow: 0 0 5px gray;

	--background: url('https://i.postimg.cc/Wz12GjXK/fff4.png');

	--neutral: #fffff;
	--neutralDark: #a3a849;
	--neutralDarker: #dce3f4;

	--contrast: #171938;
	--contrastLight: #232657;
	--contrastLighter: #c3c8f3;

	--accentClr: #4b57c5;
	--accentClrDark: #333c92;

	--textColor: #232657;
	--textColorAccent: #000;

	--border: 1px solid var(--color1);

	--shadowBox: 0 0 20px #23265730;

	--little-size: 12px;
	--normal-size: 14px;
	--medium-size: 16px;
	--large-size: 18px;
	--title-size: 22px;

	--font: "Open Sans";

	--mainColor: #9d83b7;
	--whiteBG: #FFFFFF; 
	--back: #fafbfc;

	--one: 116, 189, 212;
	--two: 169, 173, 219;
	--three: 224, 148, 210;

	--gra: -webkit-linear-gradient(45deg, rgba(var(--one), 1) 0%, rgba(var(--two), 1) 50%, rgba(var(--three), 1) 100%);
	--gra800: -webkit-linear-gradient(45deg, rgba(var(--one), .8) 0%, rgba(var(--two), .8) 50%, rgba(var(--three), .8) 100%);
	--gra500: -webkit-linear-gradient(45deg, rgba(var(--one), .5) 0%, rgba(var(--two), .5) 50%, rgba(var(--three), .5) 100%);
	--gra300: -webkit-linear-gradient(45deg, rgba(var(--one), .3) 0%, rgba(var(--two), .3) 50%, rgba(var(--three), .3) 100%);
	--gra100: -webkit-linear-gradient(45deg, rgba(var(--one), .1) 0%, rgba(var(--two), .1) 50%, rgba(var(--three), .1) 100%);

	--graReverse: -webkit-linear-gradient(45deg, rgba(var(--three), 1) 0%, rgba(var(--two), 1) 50%, rgba(var(--one), 1) 100%);
	

}

/* VARIABLES DU MODE INVERSE (ici sombre) */
[data-color-scheme="dark"] {
	color-scheme: dark;
	--header: url('https://i.postimg.cc/Fs55r4fK/1122.png');

	--neutral: #3f4347;
	--neutralDark: #c46f45;
	--neutralDarker: #33373c;

	--contrast: #e5e5f0;
	--contrastLight: #f4f4f4;
	--contrastLighter: #40485e;

	--accentClr: #7583ff;
	--accentClrDark: #333c92;

	--color1: #1d1817;
	--color2: #1d1817;
	--color3: #32251a;
	--color6: #462d23;
	--color5: #c46f45;
	--color4: #fff;
	--coloracc: #453a47;
	--colorcontainer: #1d1817;
	--colortitre: #d3d3dd;
	--transparent: #4a3a32;
	--gradient: linear-gradient(to right, var(--color1), var(--color3), var(--color2));
	--shadow: 0 0 5px black;

	--background:  url('https://i.postimg.cc/ZYHkm80T/1111111.png');
	--textColor: #fffefe;
	--textColorAccent: #fffefe;

	--border: 1px solid #2b2e3b;

	--shadowBox: 0 0 20px var(--neutralDark);

	--mainColor: var(--color1);  
	--whiteBG: #462d23;
	--back: #4a3a32;

	--pacolor: #c46f45;
	--patitle: #462d23;

	--one: 31, 84, 100;
	--two: 46, 51, 109;
	--three: 115, 33, 100;
}

/*** ----------------------------
*** GENERAL --------------- ***/
.bg-color5{
background: var(--color5);
}

.bg-one{
	background-color: rgb(var(--one));
}

.bg-two{
	background-color: rgb(var(--two));
}

.bg-three{
	background-color: rgb(var(--three));
}

.bg-gradient{
	background: var(--gra);
}

.bg-gradient-300{
	background: var(--gra300);
}

.bg-gradient-500{
	background: var(--gra500);
}

.bg-gradient-800{
	background: var(--gra800);
}

.text-gradient{
	background: var(--gra);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.text-gradient:hover{
	color: rgb(var(--one));
	background: none;
	-webkit-text-fill-color: initial;
}

.text-one{
	color: rgb(var(--one));
}

.text-two{
	color: rgb(var(--two));
}

.text-three{
	color: rgb(var(--three));
}

.font-roboto{
	font-family: "Roboto Condensed", sans-serif;
}

.font-yeseva{
	font-family: "Yeseva One", serif;
}

.font-cinzel{
	font-family: "Cinzel", serif;
}

blockquote {
	margin: 0 50px!important;
}

.background {
	position: fixed;
}

.password-container img {
	margin-left: 5px;
}

.bg_gradient{
	background: var(--gradient);
}

/*--- décoration de text ---*/
titre {
	display: inline-block;
	margin-bottom: 2px;
	background: var(--gradient);
	padding: 0 10px;
	border-radius: 10px;
	text-transform: uppercase;
	color: var(--colortitre);
	font-family: Cinzel;
}

titre2 {
	display: inline-block;
	box-shadow: inset 0 -.7em var(--color1);
	font-family: 'Manrope',sans-Cinzel;
	padding: 0 3px;
	margin-bottom: 5px;
}

soustitre {
	display: inline-block;
	font-family: 'Lobster Two',cursive;
	font-size: 16px;
}

titre3 {
	display: inline-block;
	margin-bottom: 2px;
	background-color: var(--color3);
	border-radius: 5px;
	padding: 0 5px;
	color: var(--colortitre);
	font-family: Cinzel;
}

titre4 {
	display: inline-block;
	color: var(--color5);
	outline: 1px solid var(--color5);
	padding: 0px 2px;
	margin-bottom: 5px;
	border-radius: 5px;
}

titre5, titre6 {
	text-transform: uppercase;
	border-left: 1px solid var(--color5);
	padding: 0px 5px;
}

titre6 {
	border-left: 18px solid var(--color5);
}

.tlad {
	display: flex;
	font-family: Cinzel;
	border-bottom: 1px solid var(--color3);
	font-size: medium;
}

.numberad {
	background-color: var(--color3);
	border-radius: 5px;
	padding: 0 3px;
	color: var(--colortitre);
	margin: 0 3px 3px;
}

/* S'applique à TOUS les éléments du forum*/
* {
	box-sizing: border-box;
	/*évite que les éléments soient agrandis par le padding*/
	/* SCROLLBAR CUSTOM POUR MOZILLA */
	scrollbar-color: var(--contrastLight);
	scrollbar-width: thin;
}

/*** ------------------------------- ***/
/*** TOUTES LES PAGES --------------- ***/

/* FOND DU FORUM ---*/
body {
	background-image: var(--background);
	font-family: var(--font);
	font-size: var(--normal-size);
	color: var(--textColor);
	margin: 0 !important;
}

/* SCROLLBAR --- */
/* Scrollbar entière */
::-webkit-scrollbar {}

/* Rail */
::-webkit-scrollbar-track {}

/* Poignée */
::-webkit-scrollbar-thumb {}

/* STRUCTURE PRINCIPALE ---*/
.main_forum {
	/*largeur forum*/
	width: 940px;
	margin: 50px auto 20px auto;
	background: var(--transparent);
}

/* BANNIERE ---*/
/* Mettre la bannière en fond permet de la changer selon le thème clair ou sombre */
#header {
	background-image: var(--header);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	width: 900px;
	height: 495px;
	display: block;
}

/* Conteneur de toutes les sous-sections
* comme les encadrés d'options, de rappel, etc... */
.panel {
	background: var(--color6);
	border: var(--border);
	border-radius: 5px;
	padding: 10px;
	margin: 25px 0;
}

.sidebar {
	position: fixed;
	inset: 0;
	width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px 15px;
	z-index: 500;
}


/* Conteneur de switcheroo */

.sidebar_top {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	top:5px;
	left:10px;
	position:absolute;
	position: fixed;
	z-index:999;
}

/* Conteneur de l'ascenseur
* Sert essentiellement à définir où le placer dans la page */
.sidebar_bottom {
	width: 52.5px;
	z-index: 999;
	bottom: 10px;
}

/* Lien de renvoi haut/bas */
.sidebar_bottom>a {
	background: var(--neutralDark);
}

/* BOUTON CHANGEMENT DE THEME ---*/
@media (prefers-color-scheme: dark) {
	.color-scheme-toggle .dark {
	display: none;
	}
}

@media (prefers-color-scheme: light) {
	.color-scheme-toggle .light {
	display: none;
	}
}

.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {
	display: block;
	width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {
	display: none;
}

.color-scheme-toggle {
	background-color: var(--neutralDark);
	font-size: 36px;
	color: var(--textColor);
}

.color-scheme-toggle:hover {
	color: var(--accentClr);
}

/****** ------------------------------------------------------------------------------
****** GÉNÉRALITÉS ------------------------------------------------------------------ 
****** Sélecteurs généraux s'appliquant à plusieurs reprises sur tout le forum ******/

/*** ----------------------------------- ***/
/*** LIENS ET TEXTE -------------------- ***/

/* LIENS DU FORUM --- */
a {
	font-weight: 600;
	text-decoration: none;
	color: var(--textColorAccent);
}

/*liens au survol*/
a:hover {
	color: var(--accentClr);
}

/* Emoji mis par défaut de FA
* Les réduire les rend moins horribles à voir */
.emojione {
	width: 19px !important;
}

/* TITRES DES PAGES --- ***/

/* Utilisé pour des titres de pages */
h1{
	font-size: var(--title-size)!important;
	font-weight: 700;
}

h1.page-title {
	color: #fff;
	font-size: var(--title-size);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

/* Utilisé pour des titres de sujets, blogs... */
h2,
.h2 {
	margin: 0;
	font-size: var(--large-size);
	font-weight: 700;
}

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
h3,
.h3 {
	color: var(--contrastLight);
	padding-bottom: 10px;
	margin: 0;
	font-size: var(--medium-size);
	font-weight: bold;
}

/*** --------------------------------------- ***/
/*** BOUTONS D'INTERACTION ET BARRE DE TEXTE ***/

/* CHAMPS DE TEXTE ---*/
input:is([type="text"], [type="password"], .inputbox),
textarea {
	border: none;
	font-size: var(--normal-size);
	color: var(--contrastLight) !important;
	padding: 8px 10px;
}

/* Au focus */
:focus:is(input:is([type="text"], [type="password"], .inputbox), textarea) {
	outline: none;
	border: 1px solid var(--accentClr);
}

/* BOUTONS D'INTERACTION --- *
* Envoyer, prévisualiser, sauvegarder, aller,... */
input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
.button,
button {
	font-size: var(--normal-size);
	font-weight: 600;
	border: none;
}

/* Au survol */
:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
	color: var(--accentClr);
}

/* Boutons désactivés */
:disabled:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
	opacity: .5;
	filter: saturate(1);
	cursor: not-allowed;
}

:disabled:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
	color: inherit;
}

.submit-buttons {
	text-align: center;
}

.quickmod {
	margin-bottom: 20px;
}

/* MENUS DEROULANTS --- */
select {
	font-size: var(--normal-size);
	padding: 8px 10px;
	color: var(--textColor);
}

select:focus-visible {
	outline: 1px solid var(--accentClr);
}


/*** ------------------------------- ***/
/*** EDITEUR DE TEXTE -------------- ***/
/* Editeur de texte */
.sceditor-container {
	font-weight: normal;
	border: none!important;
	background-color: var(--neutral) !important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
	background: var(--gra) !important;
	border-bottom: none!important;
	padding: 7px 0;
}

/* Conteneur des groupes d'outils */
div.sceditor-group {
	background: white !important;
	border-bottom: none !important;
}

/* Bouton d'un outil */
a.sceditor-button {
	height: 26px !important;
	/*ne pas retirer*/
	width: 26px !important;
	/*ne pas retirer*/
}

/* Bouton d'un outil au survol ou actif*/
.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover,
.sceditor-button.hover {
	background: var(--neutral) !important;
	box-shadow: none !important;
	border: none !important;
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
	background-color: var(--color6) !important;
	/*ne pas supprimer*/
	width: 100% !important;
	margin: 0 !important;
	padding: 5px !important;
	/*ne pas supprimer*/
	min-height: 250px !important;
}

.sceditor-container textarea:focus {
	outline: none
}

.sceditor-container textarea{
	--tw-bg-opacity: 1;
	background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1))!important;
	font-weight: initial;
}

/*Boîte Smiley*/
html#sceditor_smilies,
body#sce_smilies_body {
	background: transparent !important;
}



/*** ------------------------------- ***/
/*** PAGINATIONS -------------------- ***/

.pagination {}

/*lien unique vers les pages numérotées*/
.pagination span a {
	font-size: var(--little-size);
}

/*survol des liens uniques des pages*/
.pagination span a:hover {
	font-weight: 600;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
	background-color: var(--neutralDark);
	border-radius: 3px;
	padding: 1px 4px;
}

/*suppression de l'image-lien "aller à la page suivante" */
.page-topic span a:last-child,
.pag-img {
	display: none;
}

/*** ------------------------------- ***/
/*** ELEMENTS ESTHETIQUES ---------- ***/

/* Contenur général qui sert généralement de fond et/ou de contour*/
.container {
	background: var(--colorcontainer);
}

/* Barre de séparation */
.separator {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid var(--neutralDark);
	clear: both;
	height: 1px;
	width: 100%;
}

hr {
	border: none;
	border-top: var(--border);
}

/* Titre d'un toggle */
summary {
	cursor: pointer;
}

/* Conteneur moins large (les historiques des messages essentiellement) */
.wrapped {
	width: 80%;
	margin: 10px auto;
	clear: both;
	background: var(--gradient);
	padding: 10px;
	border-radius: 10px;
}

/* Image/avatar réduit */
.mini_img img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	margin-right: 10px;
	background: var(--neutralDark);
}

/* Permet d'aligner un élément à droite ou à gauche */
.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

/* Barre de gestion 
* Contient des boutons ou des liens spéciaux */
.links_bar {
	padding: 10px;
	border: var(--border);
	border-radius: 5px;
	margin: 25px 0;
	clear: both;
}

/* supprime si vide */
.links_bar:empty {
	display: none;
}

/* Lien spécial mis en avant */
.specials_links a,
a.specials_links {
	background: var(--color1);
	padding: 2px 6px;
	border-radius: 5px;
}

/* Suppression des liens vides */
.specials_links a:empty,
a.specials_links:empty {
	display: none;
}

/****** ------------------------------------------------------------------------------ 
****** ENTETE DU FORUM --------------------------------------------------------------
****** Tous les éléments qui s'affichent en tête de toutes les pages ---------------- ******/

/* Fa Toolbar */
#fa_toolbar {
	font-family: var(--font3);
	background: var(--gradient);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

#fa_toolbar a {
	color: var(--purewhite);
}

#fa_search, #fa_share, #fa_hide {
	display: none
}

#fa_left {
	display: none
}

#fa_right {
	font-size: var(--size4);
	border-radius: 5px;
	align-items: center;
	display: flex;
	/* text-align: center; */
	justify-content: flex-end;
	padding: 14px;
}

#fa_welcome, #fa_notifications, #fa_right a.rightHeaderLink[href*="/login"], #fa_right a.rightHeaderLink[href*="/register"] {
	cursor: pointer;
	padding: 4px 6px;
	background:var(--back);
}

#fa_right a.rightHeaderLink[href*="/login"] {
}

#fa_right a.rightHeaderLink[href*="/register"] {
}

#fa_welcome {
	text-transform: uppercase;
	margin-right: .5rem;
	border-radius: .25rem;  
}

#fa_notifications {
	border-radius: .25rem;
	text-transform: uppercase;
}

#fa_right.welcome #fa_menu #fa_welcome, #fa_toolbar > #fa_right.notification > #fa_notifications {
	background:var(--back);
	border-radius: 5px;
}


ul#notif_list {
	top: 61px;
	z-index: 999;
	position: absolute;
	display: none;
	border-radius: 0.25rem; /* .rounded */

	/* bg-zinc-200 */
	--tw-bg-opacity: 1;
	background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
}

ul#notif_list .contentText.ellipsis {
	font-size: var(--size4) !important;
	margin-right: 1.25rem;
}

#notif_list a{
	color: initial!important;
}

#notif_list .unread a {
	color: rgb(var(--one)) !important;
}

ul#notif_list .delete {
	margin-top: 8px;
}

/*--- MENU BIENVENUE ---*/
ul#fa_menulist {
	width: 390px;
	border-radius: 0.25rem; /* .rounded */
	--tw-bg-opacity: 1; /* .bg-zinc-200 */
	background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1)); /* .bg-zinc-200 */
	right: 10px;
	left: initial !important;
	top: 61px;
	z-index: 999;
	position: absolute;
	display: none;
	padding: 0.5rem; /* .p-2 */
}

#fa_usermenu {
	background: var(--bg3);
	display: grid;
	float: left;
	text-align: center;
	margin-right: 0.5rem; /* .mr-2 */
}

#fa_usermenu td {
	color: var(--purewhite)
}

#fa_usermenu img {
	border-radius: 0.25rem; /* .rounded */
	object-fit: cover;
	object-position: center;
	width: 123px;
	display: block;
}

#fa_menulist li {
	line-height: 28px;
	display: flex;
	font-size: 13px;
	border-radius: 0.25rem; /* .rounded */
	background: white;
	margin-bottom: 0.25rem;
	/* .shadow */
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#fa_menulist li a {
	font-size: var(--size2);
	width: 100%;
	text-align: center;
}
#fa_menulist li a:hover {
	/* .text-gradient */
	background: var(--gra);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#fa_toolbar #fa_right .fa_separator {
	margin: 5px 0 5px 150px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	height: 0;
	width: 1px;
}

#fa_ranktitle {
	display: none;
	/*
	margin: 0px!important;
	margin-bottom: 10px!important;
	text-align: center;
	background: var(--colorcontainer)!important;
	justify-content: center;
	align-items: center;
	align-content: center; */
}

#fa_ranktitle + table{
	display: none;
}

li.fa_separator {
	width: 200px;
	position: relative;
	right: 0px;
	border: 1px solid var(--color1)!important
}

/*--- LISTE DES NOTIFICATIONS ---*/
#notif_list {
	width: 420px;
	padding: 5px;
	flex-direction: column-reverse;
}

#notif_list li {
	position: relative;
	padding: 5px;
	border-top: 1px solid var(--bg2);
}

#notif_list li:nth-last-child(2) {
	border-top: none
}

#notif_list .unread {
	border-radius: 0.25rem; /* .rounded */
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#fa_toolbar #fa_right #notif_list li a.delete {
	position: absolute;
	top: -4px;
	right: 9px;
}

#fa_toolbar #fa_right #notif_list li a.delete:before {
	content: "\f12a";
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-weight: normal;
	color: #FF4F42;
}

#notif_list .see_all {
	background: var(--gra);
	border-radius: 0.25rem; /* .rounded */
	margin-top: 0.25rem;
	order: -1;
	text-align:center;
	text-transform: uppercase;

	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#notif_list .see_all a {
	color: #fff!important;
}

#notif_list .see_all:hover{
	background: white;
}

#notif_list .see_all:hover a{
	color: rgb(var(--two))!important;
}

#fa_toolbar #live_notif {
	position: absolute;
	top: 45px;
	right: 0px !important;
}


#fa_toolbar #live_notif .fa_notification {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
	padding: 5px;
}

.fa_avatar {
	position: absolute;
	top: -1px;
	left: -45px;
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
}

.fa_avatar img {
	object-fit: cover;
	object-position: center;
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

/*** ------------------------------- ***/
/*** SWITCHEROO - Par Monomer ------ ***/
/*** Gestionnaire de multicompte --- ***/

:root {
	--ease: cubic-bezier(0.4, 0, 0.2, 1);
	--ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* BARRE SWITCHEROO --- */

/* BARRE --- */
.switcheroo {
	color: var(--textColor);
	margin-top: 5px;
}

/* Positionnement des ronds */
.switcheroo__squircles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 15px;
}

/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
	position: relative;
	display: grid;
	place-items: center;
	background-color: var(--neutralDark);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
	outline: 5px solid transparent;
	transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
	outline-color: var(--neutralDarker);
	border-radius: 8px;
}

.switcheroo__squircle:hover img {
	border-radius: 8px;
}

/* Conteneur de l'avatar */
.switcheroo__avatar {
	width: 100%;
	aspect-ratio: 1/1;
}

/* Image de l'avatar */
.switcheroo__avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	transition: border-radius 128ms var(--ease);
	position: relative;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
	outline-color: var(--neutralDark);
	cursor: default;
}

/* AJOUTER UN COMPTE ---*/
/* button : ajouter un compte */
.switcheroo__squircle--button {
	transition: border-radius 128ms var(--ease);
	color: var(--contrastLight);
}

/* icon plus */
.switcheroo__squircle--button i {
	font-size: 19px;
}

.switcheroo__squircle--button:hover {
	color: var(--accentClr);
}

/* Bouton de suppression */
.switcheroo__delete {
	display: grid;
	place-items: center;
	position: absolute;
	width: 16px;
	height: 16px;
	top: -7px;
	right: -7px;
	border-radius: 50%;
	background-color: var(--accentClr);
	transform: scale(0);
	opacity: 1;
	transition: transform 128ms var(--ease), opacity 64ms var(--ease);
	cursor: pointer;
	color: var(--neutral);
	line-height: 0;
}

.switcheroo__squircle:hover .switcheroo__delete {
	opacity: 1;
	transform: scale(1);
}

/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
	background-color: var(--neutralDarker);
	padding: 0.3rem 1rem;
	position: absolute;
	width: -webkit-max-content;
	width: max-content;
	border-radius: 5px;
	z-index: 0;
	opacity: 0;
	transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
	pointer-events: none;
	color: var(--textColor);
	left: -.5rem;
	top: 200%;
	transform-origin: left;
	transform: translateY(-50%) scale(0.98);
}

/* Flèche tooltip */
.switcheroo__popper:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--neutralDarker);
	z-index: -1;
	left: 1rem;
	top: 2%;
	transform: translateY(-50%) rotate(-45deg);
	border-radius: 2px;
}

.switcheroo__squircle:hover .switcheroo__popper {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

/* LOGO --- retirez display:none pour retrouver le logo */
.switcheroo__logo,
.switcheroo__divider {
	display: none;
}

/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'affichage de connexion */
.monomer-overlay {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s opacity ease;
	background: rgba(0, 0, 0, 0.2);
}

/* Boîte de connexion */
.monomer-modal {
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 94%;
	padding: 30px;
	transition: 0.2s opacity ease;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: var(--colorcontainer);
	padding: 50px;
	box-shadow: var(--shadowBox);
}

/* Champs à remplir */
.switcheroo__form-row {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

/* Nom du champ */
.switcheroo__form-label {
	margin-bottom: 8px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
	padding: 6px !important;
	border-radius: 4px;
	width: 100%;
	background-color: var(--neutral);
	color: var(--contrastLight);
	cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
	border-radius: 8px;
	padding: 4px 10px 5px;
	border: none;
	outline: none;
	box-shadow: none;
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
	background-color: var(--accentClr);
	cursor: pointer;
	color: var(--neutral);
	font-weight: 600;
	margin-top: 10px;
}

.switcheroo__form-button:hover {
	background: var(--contrastLight);
}

.monomer-modal.monomer-open,
.monomer-overlay.monomer-open {
	opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
	font-size: 16px;
	line-height: 12px;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	color: var(--textColor);
	border: 0;
	outline: none;
	background: var(--contrastLighter);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.monomer-close:hover {
	background: var(--contrastLight);
}

/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

/* Conteneur de la barre de nav */

/* Suppression des liens peu utilisés*/
.navbar a[href^="/faq"],
/*faq*/
.navbar a[href^="/calendar"],
/*calendrier*/
.navbar a[href^="/groups"],
/*groupes*/
.navbar a[href^="/images"]
/*Dernières images*/
	{
	display: none;
}

/* liens de navigation */
a.mainmenu {
	padding: 5px;
}

/* Lien navigation au survol*/
a.mainmenu:hover {
	background: var(--neutral);
	border-radius: 5px;
}

/* Image des liens */
a.mainmenu img {
	display: none;
}

/*** ------------------------------- ***/
/*** ANNONCES DEFILANTES ----------- ***/

/* Barre défilante */
.module {
	border-radius: 5px;
	border: var(--border);
	margin: 10px 0;
	padding: 4px 8px;
}

/****** ------------------------------------------------------------------------------
****** PAGE PRINCIPALE, INDEX ------------------------------------------------------- ******/

/* PAGE D'ACCUEIL ---*/
.introduction {}


/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/
/* Titre d'une catégorie */
.cate_title_a {
	font-size: 18px;
}

.forum:last-child {
	margin-bottom: 0;
}

/* titre d'un forum */
.forumtitle_a {
	color: var(--color6);
	background: var(--color5);  
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
	width: 100px;
	height: 100px;
}

.forum_avatar img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: .25rem;
}

/* dernier message */
.forum-row__last_post_infos img{
	display: initial;
}


/* liens des sous forums */
.hide-decoration{font-size: 0;}
.hide-decoration a{font-size: var(--little-size);}
#subforum {
	font-size: 0;
	display: flex;
	gap: 3px;
	flex-direction: column;
	padding: 10px;
	/* Scroll invisible */
	scrollbar-width: none;         /* Firefox */
	-ms-overflow-style: none;      /* IE 10+ */
	/*permet de retirer la virgule*/
}

#subforum a {
	font-size: var(--little-size);
	text-transform: uppercase;
}

.forum_stats {
	font-weight: 600;
	float: right;
	font-size: var(--little-size);
	margin: 10px 0;
}

/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/

.qeel {
	background: var(--gradient);
	border-radius: 10px;
	padding: 10px;
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-gap: 1px;
	margin-bottom: 10px;
}

.qeel>div {
	background: var(--color6);
	padding: 15px 10px;
}

.qeel-left {
	border-radius: 5px 0 0 5px;
}

/* Dernier inscrit */
#last_user {
	display: flex;
	align-items: center;
}

#lastuser_avatar img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	margin-right: 10px;
}

/* groupes*/
a.groups {
	display: block;
	background: var(--color1);
	border-radius: 5px;
	text-align: center;
	padding: 2px 0;
	margin-bottom: 5px;
	opacity: 1;
}

a.groups:hover {
	opacity: 0.7;
}

a.groups:last-child {
	margin-bottom: 0;
}

.qeel-middle {}

/*X connectés :: 1 membre, 0 invisible, 0 invité*/
#total_users {}

.credits {
	font-size: var(--little-size);
	border: var(--border);
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
}

.qeel-right {
	border-radius: 0 5px 5px 0;
	text-align: justify;
}

/* QEEL DITM */
#newest_username a span{color:#fff!important;}
#DITM_birthday_list br, #birthday_list br{display:none;} 
#last_connected{
	max-height: 10.5rem;
}


/****** ------------------------------------------------------------------------------
****** LISTE DES SUJETS ------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** ENTETE ET FOOTER DE LA LISTE DES SUJETS ***/

/* Chaîne de navigation et pagination
* (réutilisé dans l'affichage d'un sujet (viewtopic_body)) */
.navigation_links {
}

/* chaîne de lien de navigation : catégorie > forum > sous-fo */
.navigation_chain {
	font-size: 0;
	/*retire les :: de séparation */
}

.navigation_chain a {
	font-size: var(--normal-size);
	/*rétablit la taille des liens*/
	margin-right: 8px;
}

.navigation_chain a::before {
	content: "›";
	/*symbole ou texte modifiable*/
	font-size: var(--nomal-size);
	margin-right: 3px;
}

/* BOUTONS DE MESSAGE : Répondre, Nouveau,... ---* 
* (réutilisé dans l'affichage d'un sujet (viewtopic_body) et les MP (privmsgs_body) */
.buttons {
	background: var(--color1);
	padding: 1px 8px;
	margin-right: 5px;
	border-radius: 5px;
	opacity: 1;
}

.buttons:hover {
	opacity: 0.7;
}

/* BOUTONS : modérer les sujets de ce forum */
#moderation_forum_tools,
#moderation_forum_tools strong {
	font-size: 0px;
}

#moderation_forum_tools a {
	background: var(--color1);
	border-radius: 5px;
	padding: 2px 8px;
	font-size: var(--normal-size);
}

/*** ------------------------------- ***/
/*** LISTE DES SUJETS -------------- ***/

.container-forum {
	background: var(--gradient);
	border-radius: 5px;
}

/* Bloc de description du forum */
.forum-page_desc {
	margin: 0 0 20px;
	background: var(--color6);
	border-radius: 5px;
	padding: 10px;
	border: 5px solid var(--colorcontainer);
	text-align: justify;
}

.topicslist_row {
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}

.topicslist_row:last-child, .DITM_topicslist_row:last-of-type {
	margin-bottom: 0;
}

.DITM_topicslist_row img{
	display: initial;
}

.topicslist-row__lastpost-user-img img{
	min-height: 100%!important;
	min-width: 100%!important;
}

.forum-row__sublinks{
	font-size: 0;
	width: 160px;
	height: 100px;
}

.forum-row__sublinks a{
	display: block;
	font-size: 0.75rem;
	line-height: 1rem;
}

.last-post-icon img{
	display: inline;
	margin-left: 0.25rem; /* .ml-1 */
}

/*titre du sujet*/
.topictitle {
	font-size: var(--medium-size);
	/* permet de raccourir les titres trop long ainsi : "Titre du suj..." */
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 400px;
	white-space: nowrap;
	vertical-align: bottom;
}

/* icône de type de message ( exemple : -18 ans, sujet résolu, ... ) */
.topic_msgicon {
	margin-right: 5px;
}

.topic_msgicon:empty {
	display: none;
}


.topicslist-row__lastpost-infos img{
	display: inline;
}

.topicslist-avatar-lastpost img {
	object-fit: cover;
	object-position: center;
	height: 65px;
	background: var(--color6);
	border-radius: 3px;
	padding: 2px;
}



.topicslist-description {
	padding: 5px;
	background: var(--color6);
	border-radius: 3px;
	width: 100%;
}

/* ligne qui séparent les annonces et les notes des autres sujets (à activer dans "message > configuration") */
.topic_separator {
	height: 5px;
	background: var(--neutral);
	margin-bottom: 10px;
	border-radius: 5px;
}

/* Bouton "trier les sujets" */
#sort-topics {
	position: relative;
	display: inline;
	background: var(--color1);
	margin: 10px 0;
}

.sort-form {
	width: max-content;
	background: var(--neutral);
	border: 1px solid var(--neutralDarker);
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	top: 110%;
	right: 0;
	display: none;
}

.expanded~.sort-form {
	display: block;
}

/****** ------------------------------------------------------------------------------
****** AFFICHAGE D'UN SUJET --------------------------------------------------------- ******/

.title_container {
	
}

/*---- forum ---*/

.post_content_right {
	background: var(--colorcontainer);
}


/* PARTICIPANTS DU SUJET ---*/

/* Conteneur de la liste des participants au sujet */
.poster-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -10px;
	margin-bottom: 20px;
}

/* Avatar du participant*/
.poster {
	background: var(--poster-avatar);
	height: 30px;
	width: 30px;
	border-radius: 100%;
	margin-left: -8px;
	border: 2px solid var(--neutralDark);
	background-size: cover;
	background-position: center;
}

/* Lien de renvoi vers son profil */
.poster a {
	display: block;
	height: 100%;
}

/* Nombre de participants */
.poster-count {
	margin-left: 8px;
}

.poster-more-list {
	display: none;
}

.poster-more {
	display: grid;
	place-items: center;
	position: relative;
}

.poster-more:hover .poster-more-list {
	display: block;
	position: absolute;
	top: 29px;
	width: 150px;
	background: var(--neutralDarker);
	padding: 10px;
	border-radius: 5px;
}

/*** ------------------------------- ***/
/*** SUJET ------------------------- ***/

.post_row {
	display: flex;
	border-bottom: 1px solid var(--color6);
	flex-direction: column;
	border-radius: 10px;
	border-bottom: none;
}

div.post_row:nth-of-type(2) {
	border-radius: 5px 5px 0 0;
}

div.post_row:last-of-type {
	border-radius: 0 0 5px 5px;
	border-bottom: none;
}

.DITM_post_details a:hover{
	color: rgb(var(--three));
}

.post_date {
	display: flex;
	flex-grow: 100;
	margin-left: 10px;
	align-items: center;
}

/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
ul.profile-icons {
	flex-grow: 1;
	display: flex;
}

/*UN SEUL bouton d'édition */
ul.profile-icons li {
	padding: 2px 4px;
	border-radius: 5px;
}

/* Cache les boutons pour les invités */
.profile-icons a[href=""] {
	display: none
}

/*hover d'un bouton d'édition*/
ul.profile-icons li:hover {
	background: var(--neutralDark);
}

/* BOUTON LIKE --- */
/* Conteneur du bouton like */
.like_button {
}

/* Bouton like */
.rep-button,
.rep-button:active,
.rep-button:focus {
	background: var(--color5);
	color: var(--color6);
	border: none;
	padding: 3px 5px!important;
	font-weight: 600;
}

/*Bouton au survol*/
.rep-button:hover {
	background: var(--var(--contrastLighter));
}

/* Texte "j'aime" */
button.rep-button .like_text {}

/*compteur de like*/
button.rep-button .rep-nb {
	margin-left: 5px;
	padding: 0 3px;
	background: var(--neutral);
	border-radius: 3px;
}

.DITM_post_profile {
	max-width: 220px;
}

.post_avatar img {
	width: 200px;
	height: 320px;
	border-radius: 10px;
	border: 4px solid var(--color6);
}

.profile_title {
	background-color: var(--color6);
}

.post_pseudo {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.pseudo_line {
	border-bottom: 1px solid var(--color1);
	width: 95%;
}

/* Lien "@" de mention */
a.fa-mention {
	cursor: pointer;
}

/* Retirer le fond des mentions de groupe */
.group-mentiontag{
	background: none!important;
}

/* Mention "en ligne" */
.presence {
	display: none
}

.presence.online {
	display: inline-block;
	background: var(--color6);
}

.post_userinfo {
	background-color: var(--color6);
	font-size: 14px;
	color: var(--neutralDark);
	overflow: auto;
	max-height: 200px;
	scrollbar-width: none;
}

.field_label {
	margin-right: 5px;
	font-size: 12px;
}

.post_contact {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post_contact img {
	width: 20px;
	height: auto;
}

/* RECOMPENSES --- */
/* Conteneur des récompenses */
#list_awards {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

/* Récompense */
.award {
	width: 40px;
	height: 40px;
	position: relative;
	background-image: var(--award-image);
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	cursor: pointer;
}

.award:hover .award_tooltiptext {
	display: block;
}

/* Bloc description de la récompenses */
.award_tooltiptext {
	width: max-content;
	display: none;
	position: absolute;
	top: 25%;
	left: 25px;
	background-color: var(--neutral);
	border: 1px solid var(--neutralDark);
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 11px;
}

/* titre de la récompenses*/
.award_tooltiptext_title {
	font-weight: 600;
}

/*
.online:empty {
	display: none;
}
	*/

.post_messbackground {
	background: var(--color1);
	box-shadow: var(--shadow);
}

.post_message {
	background-color: var(--color6);
}

/* REPONSE RAPIDE --- */
/*supression de la mention "réponse rapide" + saut de ligne */
.quickreply div.h3 {
	display: none;
}

#quickreply_content #textarea_content {
	border-radius: 0.25rem; /* .rounded */
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.quickreply textarea{
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

/* Gestion des boutons */
#quick_reply > div:nth-child(2) {
	display: flex;
	gap: 0.25rem; /* gap-2 */
}

#quick_reply > div:nth-child(2) .button2{
	flex: 1;
	border-radius: 0.25rem; /* .rounded */
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	--tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background: white;
	color: rgb(var(--one));
}

#quick_reply > div:nth-child(2) .button2:last-of-type {
	background: var(--gra);
	color: white;
}

/* Retire le cadre de la réponse rapide pour les invités */
#quickreply_content:empty {
	display: none;
}

/*** ------------------------------- ***/
/*** SONDAGE ----------------------- ***/

.poll {
	background: var(--neutral);
	border-radius: 5px;
	margin-bottom: 10px;
}

.head_poll {
	padding: 10px;
	border-bottom: 1px solid var(--neutralDark);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.poll_list {
	display: grid;
	grid-template-columns: 220px auto;
}

.poll_option {
	padding: 10px 20px 0 10px;
	border-right: 1px solid var(--neutralDark);
	text-align: right;
}

.poll_vote {
	padding: 10px 10px 0 20px;
	display: flex;
	align-items: center;
}

.poll_send {
	margin-left: 220px;
	padding: 20px 10px 20px 20px;
	border-left: 1px solid var(--neutralDark);
}

.poll_vote:nth-child(2),
.poll_option:first-child {
	padding-top: 20px;
}

.votes-users-list {
	justify-content: start;
	margin: 20px 0 0;
}

/*** ------------------------------- ***/
/*** TEXTES, BALISES, ETC ---------- ***/

/* Lien-tag des utilisateurs */
.mentiontag {}

/* BALISES DE MESSAGE : spoiler, code, quote... */

/* Balise code, spoiler et hide*/
.codebox {
	display: block;
	width: 90%;
	margin: 0 auto;
	text-align: justify;
}

/* Contenu code, spoiler et hide*/
.codebox dd {
	--tw-bg-opacity: 1;
	background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1));
	border-radius: 0.25rem; /* .rounded */
	padding: 0.5rem;
	max-height: 200px;
	overflow: auto;
}

/* Nom de balise "code, spoiler" */
.codebox dt {
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
	background: var(--gra);
	color: white;
	padding: 0.5rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

code{
	
}

/*retire la mention "code" du bloc*/
/*
#codeBox dt {
	height: 0;
	font-size: 0;
}
*/
/* bouton "copier" */
.copyCode {
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: -17px;
	right: 13px;
	font-family: monospace;
	text-transform: uppercase;
	cursor: pointer;
}

div.cont_code {
	clear: right;
}

/* Spoiler */
.hidebox.spoiler {}

/* spoiler fermé */
.spoiler_content {
	display: none;
}

/* spoiler ouvert */
.spoiler_content.hidden {
	display: block;
}

/* Citation contenu */
blockquote div {
	padding-left: 20px;
}

/* Citation mention "... a écrit" */
blockquote cite {
	display: block;
	margin-left: -20px;
	font-style: normal;
}

/* Citation pseudo */
blockquote cite a {
	text-decoration: none !important;
}

/* Hide */
.codebox.hidecode dd {
	background: transparent;
	opacity: 0.8;
}

/*** ----------------------------
*** MEMBRES --------------- ***/

.memberlist_searchbar select{
padding: 8px 10px;
/* .bg-zinc-100 */
--tw-bg-opacity: 1;
background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1));
/* .rounded */
border-radius: 0.25rem; /* .rounded */
}

/*** ----------------------------
*** PAGE DE PROFIL -------- ***/
.profile_content {
height: 265px;
overflow: auto;
}

.profile_field {
margin: 10px 0;
display: grid;
grid-template-columns: 135px auto;
grid-gap: 10px;
}

.profile_field label,
.profile_field label>span {
font-weight: 600;
color: var(--link);
}

.profile_field field {
position: relative;
}

.profile_admin {
text-align: center;
margin: 10px 0 0;
}

.profile_btn i{
	font-size: 22px;
}

.profile_link_tooltip_trigger:hover .profile_btn, .profile_btn:hover{
	background: rgb(var(--three));	
}

a.profile_btn:hover{
	color: white;
}

.profile_link_tooltip_trigger:hover .profile_btn i, .profile_btn:hover i{
	-webkit-text-fill-color: white;
}

.profile_link_tooltip{
background: var(--color7);
color: var(--transparent);
opacity: 0;
left: 100%;
top: 50%;
z-index: 1;
transform: translate(0px, -50%);
margin-left: 8px;
white-space: nowrap;
}

.profile_link_tooltip_trigger:hover .profile_link_tooltip{
opacity: 1;
}

.profile_link_tooltip_trigger a{
width: 62px;
height: 62px;
}

#profile_liens a{
display: none;
}

.profile_link_tooltip_trigger:hover svg, #profile_liens a:hover svg {
animation: hithere 3s ease infinite; /* Augmente la durée totale de l'animation */
}

@keyframes hithere {
0% { transform: scale(1); } /* Ajouté pour définir le point de départ */
20% { transform: scale(1.2); } /* 30% de 3s = 0.9s (environ 0.9s pour l'animation) */
26%, 40% { transform: rotate(-20deg) scale(1.2); } /* 40% de 3s = 1.2s */
33% { transform: rotate(20deg) scale(1.2); } /* 50% de 3s = 1.5s */
46% { transform: rotate(0deg) scale(1.2); } /* 70% de 3s = 2.1s */
66% { transform: scale(1); } /* Environ 2 secondes pour l'animation */
100% { transform: scale(1); } /* Les 34% restants (environ 1s) sont un délai */
}

/* Bouton "suivre le membre" */
.followBtn {
background: var(--neutral);
border: 1px solid var(--neutralDark);
border-radius: 5px;
font-weight: 600;
margin: 0;
font-size: 14px;
}

.followBtn::before {
top: 1px;
position: relative;
color: var(--accentClr);
margin-right: 5px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: -15px;
}

/* Bouton validation des modifications */
.ajax-profil_valid {
	cursor: pointer;
	margin-left: 4px;
	vertical-align: middle;
}

/*** ------------------------------- ***/
/*** WOMBAT PROFILS EN POP UP ---- ***/

/* Fond atténué */
.wombat-overlay {
	position: fixed;
	z-index: 990;
	inset: 0;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transition: 0.2s opacity ease;
	background: var(--neutral);
}

/* effet de transition du fond atténué */
.wombat-overlay.open {
	opacity: 0.5;
	visibility: visible;
}

/* Fenêtre du popup */
.wombat-aside {
	position: fixed;
	inset: 0;
	margin: auto;
	z-index: 999;
	transition: 0.2s all ease;
	visibility: hidden;
	opacity: 0;
	width: 90%;
	max-width: 800px;
	box-shadow: var(--shadowBox);
	border-radius: 10px;
	height: max-content;
	transform: translateX(-20%);
}

/* effet de transition pour la fenêtre */
.wombat-aside.open {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

/*** ------------------------------- ***/
/*** PROFILS SIMPLIFIÉS DES TAGS ---- ***/

/* Supression de la flèche peu esthétique*/
.tooltipster-arrow {}

.tooltipster-default {}

.preview_content {
	display: flex;
}

.preview_avatar img {
	object-fit: cover;
	object-position: center;
	width: 70px;
	height: 70px;
}

.preview_infos {
	width: 100%;
	padding-top: 3px;
}

.preview_pseudo,
.preview_pseudo strong {
	font-size: var(--medium-size);
}

.preview_contacts {
	position: absolute;
	bottom: 8px;
	right: 10px;
	display: flex;
	align-items: center;
}

.preview_contacts a {
	margin-left: 5px;
}

.tooltipster-arrow {
	display: none;
}

/*** ------------------------------- ***/
/*** LISTE DES MEMBRES ------------- ***/
.DITM_userlist_profil{
	width: 200px;
	height: 320px;
	transition: all 0.3s ease;
}

.DITM_userlist_profil img{
	object-fit: cover;  /* évite les déformations */
	transition: transform 0.3s ease;
	filter: blur(0px) grayscale(.5);
}

.DITM_userlist_profil:hover img{
	transform: rotate(-10deg) scale(1.6);
	filter: blur(1px) grayscale(1);
}

.DITM_userlist_profil a strong{
	color: white;
	font-family: "Yeseva One", serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 0;
}

.DITM_userlist_profil img + a{
	transition: all 0.3s ease;
	z-index: 2;
	transform: translateY(80%);
}

.DITM_userlist_profil:hover img + a{
	transform: translateY(0);
}

.DITM_userlist_infos{
	opacity: 0;
	transition: all 0.3s ease;
}

.DITM_userlist_profil:hover .DITM_userlist_infos{
	opacity: 1;
	display: block;
}

/****** ------------------------------------------------------------------------------ 
****** MESSAGES PRIVES ------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** LISTE DES MPs ----------------- ***/

/* Menu des MPS */
#privmsgs-menu {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 20px auto;
}

#privmsgs-menu li {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* Marge pour l'icon répondu */
.ion-reply::before {margin-right: 5px;}

/*** ------------------------------- ***/
/*** AFFICHAGE D'UN MESSAGE PRIVÉ -- ***/

.message {
	background: var(--color6);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	height: 87%;
}

.message_from {
	background: var(--color6);
}

.message_infos {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	background: var(--color6);
	margin-bottom: 5px;
	border-radius: 5px;
}

.mp-container {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.mp-icons {
	display: flex;
	float: right;
}

.message_profil {
	background: var(--gradient);
}

.message_profil img {
	border: 5px solid var(--color6);
	border-radius: 5px;
}

.message_content {
	padding: 25px;
	height: 100%;
}

/****** ------------------------------------------------------------------------------
****** PAGES ANNEXES ---------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** PAGE D'ENVOI D'UN MESSAGE ----- ***/

.message-edition {
	display: flex;
	flex-direction: row;
	/* flex-direction: row-reverse; -- pour smileys à droite */
	gap: 15px;
	/*espace entre la zone de texte et la boîte à smileys*/
}

/* Prévisualisation d'un message */
#preview {
	background: var(--color6);
	padding: 10px;
	border: var(--border);
	border-radius: 5px;
}

/*** ------------------------------- ***/
/*** EDITION DE PROFIL ------------- ***/
/* Onglets dans la modification de profil */
#tabs ul {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.25rem;
}

#tabs li a {
	border-radius: 0.25rem; /* .rounded */
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/* Onglet actif + survol */
#tabs li.activetab a, #tabs li:hover a {
	background: var(--gra);
	color: white;
}

/* Suppression de l'onglet "amis et ignorés" / Membres suivis / Favoris */
#tabs li:nth-child(4), #tabs li:nth-child(5), #tabs li:nth-child(8) {
	display: none;
}

.profil_preferences dl,
.profil_editavatar dl {
	grid-template-columns: 40% auto;
}

.profil_preferences .italic {
	font-size: var(--little-size);
}

/* EDITER SIGNATURE ---*/
#parent_editor_simple>#smiley-box {
	float: left;
	/* float: right; -- pour smileys à droite */
}

#parent_editor_simple #message-box {
	margin-left: 240px;
	/* margin-right: XXXpx -- pour smileys à droite */
}

#parent_editor_simple #message-box>#textarea_content {
	width: 100% !important;
}

.panel.row2.sig {
	text-align: center;
	margin-top: 10px;
}

.profile_field_list{
	display: flex;
}

.profile_field_list li{
	margin-right: 0.75rem;
}

#profile-edit__main dt{
	min-width: 250px;
}

#profile-edit__main dd{
	width: 100%;
}

#profile-edit__main input:not([type='reset']) {
	border-radius: 0.25rem; /* .rounded */
	--tw-bg-opacity: 1;
	background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
}

#profile-edit__main input:not([type='checkbox']):not([type='submit']):not([type='reset']) {    
	width: 100%;
}

/*** ------------------------------- ***/
/*** PAGES DE RECHERCHES ----------- ***/

/* RECHERCHE DE MESSAGE -----*/

/* Conteneur d'un message*/
.post_search {
	display: grid;
	grid-template-columns: 200px auto;
	border-radius: 5px;
	margin: 10px 0;
	background: var(--neutral);
}

.post_search>div {
	padding: 10px;
}

/* Colonne d'information du message */
.postsearch_infos {
	border-right: var(--border);
	font-size: var(--little-size);
}

/* RECHERCHE DE SUJET -----*/
/* Même CSS que la liste des sujets dans un forum */

/*** ------------------------------- ***/
/*** PAGE DE CONNEXION ------------- ***/

/* Centrer les pages de connexion */
form[name="form_login"],
form[name="form_login"]~.panel {
	text-align: center;
}

form[name="form_login"] .content {
	display: grid;
	justify-content: center;
	justify-items: center;
	background: var(--color6);
	padding: 5px;
}

/*** ------------------------------- ***/
/*** ELEMENTS FLOTTANTS ------------ ***/

/* Fenêtre popup "recherche" */
.overview {
	background: var(--neutral);
	border-radius: 5px;
	border: var(--border);
	padding: 10px;
	position: fixed !important;
	top: 50% !important;
}

/* Bouton rechercher */
.overview button[type="submit"] {
	width: 26px;
	height: 26px;
	margin-left: 5px;
}

.overview div {
	margin-bottom: 5px;
}

.overview a {
	float: right;
}

/* Boîte "recherche un utilisateur" */
#find_username {
	display: none;
	position: fixed;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	top: 50%;
	margin-top: -125px;
	background: var(--gradient);
	padding: 10px;
	border: var(--border);
	border-radius: 5px;
	box-shadow: 0 0 5px gray;
}


/****** ------------------------------------------------------------------------------
****** BLOGS ------------------------------------------------------------------------ ******/

/*** ------------------------------- ***/
/*** LISTE DES BLOGS --------------- ***/

.bloglist {
	background: var(--neutral);
	border-radius: 5px;
	display: grid;
	grid-template-columns: 65px auto;
	grid-template-rows: 60px auto;
	margin-bottom: 10px;
}


.bloglist_date {
	grid-row: 1 / span 2;
	padding: 10px;
	border-right: 1px solid var(--neutralDark);
	line-height: 22px;
	text-align: center;
}

.blog_daymonth {
	font-size: 16px;
	font-weight: 700;
}

.blog_year {
	font-size: 18px;
}

.bloglist_infos {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.bloglist_details {
	text-align: right
}

.bloglist_resum {
	padding: 0 10px 10px;
}


/*** ------------------------------- ***/
/***  AFFICHAGE D'UN BLOG ---------- ***/

.blog_post {
	background: var(--neutral);
	display: grid;
	grid-template-rows: auto auto;
	border-radius: 5px;
}

.blog_details {
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--neutralDark);
}

.blog_author {
	flex-grow: 100;
}

/*** ------------------------------- ***/
/*** COMMENTAIRES D'UN BLOG -------- ***/

.blog_comment {
	border: var(--border);
	padding: 10px;
	border-radius: 5px;
	margin: 5px auto 10px;
}

.comment_avatar {
	margin-right: 10px;
	float: left;
}

.comment_avatar img {
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	margin: 0;
}

.comment_details {
	height: 40px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.comment_details .left {
	flex-grow: 100;
}

.comment_content {
	margin-left: 50px;
}

/*--- bouton FAmessenger ---*/
#FAM-button-open {
	color: var(--accentClr);
	font-size: 18px;
	background-color: var(--neutralDark);
	border-radius: 10px;
	width: 45px;
	height: 45px;
	left: 10px;
	top: 15px;
	cursor: pointer;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	display: -ms-grid;
	display: grid;
	place-items: center;
}

/*** ------------------------------- ***/
/*** PRESENTATION ------------------ ***/
.bg-main{
	background-color: var(--neutralDark);
}

.presentation_DITM strong{
	color: var(--mainColor);
}

.glass{
	background: rgba(157, 131, 183, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}




/*** ------------------------------- ***/
/*** CHATBOX ----------------------- ***/
#chatbox_bottom{
height: 370px !important;
}

#ditm_chatbox + .panel{
padding: 0;
background: none;
}

html:not(#min-width), html:not(#min-width) body{
height: 100%;
}

#chatbox_header{
border-radius: .25rem .25rem 0 0;
display: flex;
padding: 10px;
align-items: center;
justify-content: space-between;
background: var(--color5);
margin-bottom: 5px;
height: 9%;
min-height: 40px;
}

#chatbox_header a{
color: var(--transparent);
}

#chatbox_main_options, #chatbox_members ul{
list-style-type: none;
margin: 0;
padding: 0;
}

#chatbox_main_options:after{
clear:both;
}

#chatbox_main_options li{
float: left;
}

#chatbox_members{
float: left;
width: 20%;
padding-left: 10px;
}

#chatbox_members h4{
margin: 4px 0;
}

#chatbox_members h4:first-of-type{
margin-top: 0;
}

#chatbox{
float: left;
width: 80%;
height: 70%;
overflow: auto;
padding-right: 10px;
margin-bottom: 5px;
}

#chatbox p{margin: 3px 0;}

#chatbox_footer{
clear: both;
width: 100%;
background: var(--color5);
padding: 10px;
height: 9%!important;
min-height: 60px;
position: fixed;
bottom: 0;
border-radius: 0 0 .25rem .25rem;
}

#chatbox_footer .right-box:nth-of-type(2){
margin-top: 11px;
display: flex;
}

#chatbox_footer .right-box:nth-of-type(2) *{
background: var(--transparent);
height: 20px;
width: 20px;
margin-right: 5px;
}

#divcolor{line-height: inherit!important;}

#divcolor-preview{
height: 4px!important;
}

#chatbox_footer input{
padding: 17.1px 10px;
border-radius: .25rem 0 0 .25rem;
margin-left: 5px;
}

#chatbox_footer input:focus{
border: 0;
}

#chatbox_footer button{
border-radius: 0 .25rem .25rem 0;
cursor: pointer;
}

#help-button{display: none!important;}

#chatbox_messenger_form{
display: flex!important;
flex-direction: row-reverse;
text-align: right;
}


/*** ------------------------------- ***/
/*** SURCHARGE TAILWINDCSS --------- ***/
img{display:initial}
/* .bg-white{background:var(--whiteBG);} */
.container{
	max-width: 100%!important;
}

tw, .tw{filter: blur(3px); }
tw:hover, .tw:hover{filter: blur(0px); }

.pa-top, .pa-bottom {
	border-radius: 5px!important;
}

.pa-explication, .pa-context, .pa-event, .pa-timeline, .pa-tabs, .pa-timeline, .pa-staff-icon img, .tabs-icon, .tabs-icon img {
	border-radius: 3px!important;
}

/* Saut de ligne qu'on veut pas afficher */
#qeel__online_users_list br, .quickreply br,  #parent_editor_simple #message-box>br {
	display: none;
}